body, html, .container-fluid {
    height: 100%;
    overflow-x: hidden;
}
body{
    background-color: #f5f8f8;
}
#nav-2{
    overflow:hidden;
}
#nav-btn{
    border-radius: 100px;
    width: 60px;
} 
.form-control{
    margin-top: 1%;
    height: 30px;
    border-radius: 100px;
}
.nav-item{
    padding-top: 5px;
}
#blue:hover{
    color: blue;
}
#dark:hover{
    font-weight: bold;
    color:black;
}
.round-bd{
    border-radius: 30px;
}
.round-bd1{
    border-radius: 15px;
}
.card{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
@media(min-width:992px){
    body{
        overflow: hidden;
    }
    .row.top{
        height: 100%;
    }
    .form-control{
        width: 250px;
    }
    a{
        font-size: 12px;
    }
    a.b:hover{
        border-bottom:1px solid blue;
        color:blue;
    }
    .navbar{
        padding-bottom: 0rem;
    }
    #black{
        border-bottom: 1px solid #e2e2e2;
    }
    #black:hover{
        border-right:1px solid blue;
    }
}
@media(min-width:1400px){
    .form-control{
        width: 350px;
    }
}
@media(min-width:990px){
    .navbar.sec{
        height: 100%;
    }
}
i.fa-share-alt{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgb(224, 224, 224);
    padding: 0.3em 0.3em;
    background-color: rgb(243, 243, 243);
  
  }
/* .card-img-top{
    height: 50%;
} */
